.body{
    -fx-background-image: url("img/marco.jpeg");
    -fx-background-position: center ;
}

.border{
    -fx-background-image: url("img/fondo.jpg");
    -fx-background-position: center ;
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
    -fx-background-size: cover;
}
